{%extends '::layout.html.twig'%}
{%block title%}
{{parent()}}
| Accueil
{%endblock%}
{%block position %}
          <li class="">Dashboard</li>
        {%endblock position%}

      
{%block content%}

{%endblock%}
{%block script%}
<script type="text/javascript">
    activeLink("home")
</script>
{%endblock script%}