
<div style="background: #f1f1f1">
	<div class="col-md-2">
		<p style="background: rgba(0,0,0,0.5); padding: 10%; color: #fff; font-weight: bold;font-size: 1em" class="img-circle text-center"> 
			{{service.code}}
		</p>
	</div>
	<div class="col-md-9">
		<h4>
			<u>{{service.nom}}</u>
		</h4>
		<h4>
			Membres : {{postes
			}}
		</h4>
		
	   
	</div>

</div>